<button mat-button
  (click)="onAddGroup()"
>Add group</button>

<mat-grid-list cols="12" rowHeight="1:6">
  <mat-grid-tile-header>
    Чат
  </mat-grid-tile-header>

  <mat-grid-tile colspan='2'>
    <mat-list>
      <mat-list-item
        *ngFor="let group of groups"
        (click)="onSelectGroup(group)"
      >
        {{ group.name }}
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>

  <mat-grid-tile colspan='10'>

    <mat-list *ngIf="selectedGroup; else noTexting">
      <mat-list-item>
        {{ selectedGroup | json }}
      </mat-list-item>

      <mat-list-item
        *ngFor="let message of messages"
      >
        {{ message.text }}
      </mat-list-item>

      <mat-list-item>
        <textarea></textarea>
      </mat-list-item>
    </mat-list>

    <ng-template #noTexting>
      NO TEXTING!!!!
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
