<button mat-button
  (click)="onAddGroup()"
>Add group</button>

<mat-grid-list cols="12" rowHeight="1:6">
  <mat-grid-tile-header>
    Чат
  </mat-grid-tile-header>

  <mat-grid-tile colspan='2'>
    <mat-selection-list>
      <mat-list-option
        *ngFor="let group of groups"
        (click)="onSelectGroup(group)"
      >
        {{ group.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-grid-tile>

  <mat-grid-tile colspan='10'>
    <mat-list *ngIf="selectedGroup; else noTexting">
      <mat-list-item>
        {{ selectedGroup | json }}
      </mat-list-item>

      <mat-list-item *ngFor="let message of messages">
        <div mat-line>
          {{ message.text }}
        </div>

        <div mat-line>
          {{ message.createdAt | date }}
        </div>
      </mat-list-item>

      <mat-list-item>
        <textarea [formControl]="message"></textarea>
      </mat-list-item>

      <mat-list-item>
        <button mat-button
                (click)="onAddMessage()"
        >Send</button>
      </mat-list-item>
    </mat-list>

    <ng-template #noTexting>
      NO TEXTING!!!!
    </ng-template>
  </mat-grid-tile>
</mat-grid-list>
