<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>dialpad</mat-icon>
    <span>Root</span>
  </button>
  <button mat-menu-item routerLink="/chat">
    <mat-icon>voicemail</mat-icon>
    <span>Chat</span>
  </button>
  <button mat-menu-item routerLink="/profile">
    <mat-icon>notifications_off</mat-icon>
    <span>Profile</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
